<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Studios</title>
</head>
<body>
  <table border="1">
    <thead>
      <tr>
        <td>Studio</td>
        <td>Location</td>
        <td>Daily Rate</td>
        <td>Option</td>
      </tr>
    </thead>
    <tbody>
      <% for (let studio of studios) { %>
        <tr>
          <td><%= studio.name %><br><img src="<%= studio.image %>" style="max-height: 250px; max-width: 250px;"></img>
          </td>
          <td><%= studio.location %></td>
          <td>$ <%= studio.daily_rate%></td>
          <form method="POST" action="/studios/<%= studio.id %>/book">
            <td>
              <input type="date" name="bookDate"><br>
              <button type="submit">Book</button>
            </td>
          </form>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
<nav><% include ../partials/footer %></nav>
</html>