<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>EZJam | Studios</title>
</head>
<body>
  <table border="1">
    <thead style="font-size:1.5rem">
      <tr>
        <th>Studio</th>
        <th>Location</th>
        <th>Daily Rate</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <% for (let studio of studios) { %>
        <tr style="font-size:1.2rem">
          <td><strong ><%= studio.name %></strong><br><img src="<%= studio.image %>" style="max-height: 250px; max-width: 250px;"></img>
          </td>
          <td><%= studio.location %></td>
          <td>$ <%= studio.daily_rate%></td>
          <form method="POST" action="/studios/<%= studio.id %>/book">
            <td>
              <input type="date" name="bookDate">
              <button type="submit">Book</button>
            </td>
          </form>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
<nav><% include ../partials/footer %></nav>
</html>