<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>EZJam | Studios</title>
</head>
<body>
  <table border="1">
    <thead style="font-size:1.5rem">
      <tr>
        <th>No</th>
        <th>Studio</th>
        <th>Location</th>
        <th>Daily Rate</th>
      </tr>
    </thead>
    <tbody>
      <% for (let studio of studios) { %>
        <tr style="font-size:1.2rem">
          <td><%= studio.id %></td>
          <td><strong ><%= studio.name %></strong><br><img src="<%= studio.image %>" style="max-height: 250px; max-width: 250px;"></img>
          </td>
          <td><%= studio.location %></td>
          <td>$ <%= studio.daily_rate%></td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <form method="POST">
    <input type="date" name="bookDate">
      <select name="studioId">
        <% for (let studio of studios) { %>
          <option value="<%= studio.id %>"><%= studio.name %></option>
        <% } %>
      </select>
    <button type="submit">Submit</button>
  </form>
  <input type="hidden" name="consumerId" value="<%= consumerId %>">
</body>
<nav><% include ../partials/footer %></nav>
</html>